.a{
    margin-left: -30px;
}
.c{
    margin-left: 180px;
    margin-top: 20px
}
.d{
    border: 2px solid red;
}
.f{
    color: red;
    font-size: 10px;
    margin-left: 130px;
}
.x{
    margin-left: -22px;
}
.z{
    margin-left: -5px;
}